/* find_posts_div */
#find-posts { overflow: visible; }
#find-posts-response .found-radio { padding-top: 8px; }
/* meta box @attachment */
#marco-controls { text-align: right; }
#marco-separate-post { color: #a00; }
#marco-separate-post:hover { color: red; }
#marco-cancel { display: none; }
/* modified style */
.marco-modified #marco-cancel { display: inline; }
.marco-modified #marco-find-posts, .marco-modified #marco-separate-post, .marco-modified #marco-controls span { display: none; }
.marco-modified #marco-s-anna { text-decoration: line-through; color: #aaa; }
.marco-modified #marco-s-anna a { color: #aaa !important; }